.cart_completion{
    text-align: center;
    margin-top: 68px;
    margin-bottom: 22px;
    @include pc{
        margin-top: 6.8rem;
        margin-bottom: 2.2rem;
    }
    @include tab{
        margin-top: 2.6rem;
        margin-bottom: 0;
    }
    h2{
        @include font-style(36px, $color-blue2, 600);
        line-height: 1;
        padding: 27px 0;
        @include pc{
            font-size: 3.6rem;
            padding: 2.7rem 0;
        }
        @include tab{
            font-size: 4.1rem;
            line-height: 5.1rem;
            padding: 3.1rem 0;
        }
    }
    p{
        @include font-style(20px, $color-black, 500);
        line-height: 40px;
        @include pc{
            font-size: 2rem;
            line-height: 4rem;
        }
        @include tab{
            font-size: 2.5rem;
            line-height: 4.1rem;
        }
    }
    .send{
        justify-content: center;
        margin-top: 52px;

        @include pc{
            margin-top: 5.2rem;

        }
    }

}
.back_to_top_button{
    display: inline-block;
    text-align: center;
    width: 280px;
    height: 45px;
    line-height: 45px;
    @include font-style(20px, $color-white, 600);
    background-color: $color-blue;
    border-radius: 12px;
    @include pc{
        font-size: 2.8rem;
        width: 28rem;
        height: 4.5rem;
        line-height: 4.5rem;
        border-radius: 1.2rem;
    }
}