.customer-info-title{
    @include font-style(20px, $color-black, 600);
    margin-top: 54px;
    margin-bottom: 12px;
    @include pc{
        font-size: 2rem;
        margin-top: 5,4rem;
        margin-bottom: 1.2rem;
    }
    @include tab{
        font-size: 3.6rem;
        margin-top: 6rem;
        margin-bottom: 2.6rem;
    }
}
.non-customer-info-title,.at_exp_text{
    @include font-style(20px, $color-black, 600);
    margin-top: 24px;
    margin-bottom: 14px;
    @include pc{
        font-size: 2rem;
        margin-top: 2.6rem;
        margin-bottom: 1.2rem;
    }
    @include tab{
        font-size: 3.6rem;
        margin-top: 3.8rem;
        margin-bottom: 2.5rem;
    }
}
.customer_loginform{
    border-bottom: solid 1px $color-black;
}
