.derivery-form{
    margin-top: 80px;
    @include pc{
        margin-top: 8rem;
    }
    &__table-wrap{
        padding: 23px 0;
        border-top: solid 1px $color-black;
        @include pc{
            padding-bottom: 2.3rem;
        }
        &:nth-child(1){
            border-top: none;
        }
    }
}
#delivery_flag{
    th{
        vertical-align: top;
        padding: 16px 0;
        @include pc{
            padding: 1.6rem 0;
        }
    }
}
#delivery_table{
    display: none;
}
#notes_table{
    th{
        vertical-align: top;
        padding: 16px 0;
    }
}