.water-intro-sec{
    margin-top: 72px;
    @include pc{
        margin-top: 7.2rem;
    }
    @include tab{
        margin-top: 13.3rem;
    }
    &__text{
        letter-spacing: 0.1em;
        @include tab{
            text-align: left;
            line-height: 4.1rem;
        }
    }
}
.water-flow-sec{
    margin-top: 66px;
    @include pc{
        margin-top: 6.6rem;
    }
    @include tab{
        margin-top: 9rem;
    }
    &__h2-title{
        text-align: center;
    }
    &__image-gr{
        margin-top: 29px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include pc{
            margin-top: 2.9rem;
        }
        @include tab{
            margin-top: 5rem;
        }
    }
    &__text{
        max-width: 588px;
        letter-spacing: 0em;
        margin-top: -144px;
        @include pc{
            max-width: 58.8rem;
            margin-top: -14.4rem;
        }
        @include tab{
            font-size: 2.5rem;
            letter-spacing: 0em;
            margin-top: 3.5rem;
        }
        span{
            @include font-style(24px, $color-blue, 600);
            line-height: 44px;
            letter-spacing: 0.05em;
            @include pc{
                font-size: 2.4rem;
                line-height: 4.4rem;
            }
        }
    }
}
.kowa-clean-sec{
    margin-top: 108px;
    background-color: #f7fcfc;
    padding-bottom: 47px;
    margin-bottom: 35px;
    @include pc{
        margin-top: 10.8rem;
        padding-bottom: 4.7rem;
        margin-bottom: 3.5rem;
    }
    @include tab{
        margin-top: 11.3rem;
        padding-bottom: 6rem;
        margin-bottom: 0;
    }
    &__h2-title{
        letter-spacing: -0.1em;
        color: $color-blue2;
        margin-bottom: 16px;
        line-height: 1;
        @include pc{
            margin-bottom: 1.6rem;
            letter-spacing: -0.1em;
            line-height: 1;
        }
        @include tab{
            letter-spacing: -0.1em;
            margin-bottom: 1rem;
            line-height: 1;
        }
    }
    &__paragraph{
        @include font-style(22px, $color-black, 500);
        line-height: 36px;
        @include pc{
            font-size: 2.2rem;
            line-height: 3.6rem;
        }
        @include tab{
            font-size: 2.5rem;
        }
    }
}
.kowa-clean-top{
    @include tab{
        padding-bottom: 26.6rem;
    }
    &__inner{
        display: flex;
        height: 400px;
        @include pc{
            height: 40rem;
        }
        @include tab{
            flex-direction: column;
            height: auto;
        }
    }
    &__empty{
        width: 44.3%;
        height: 100%;
        @include tab{
            width: 100%;
            order: 2;
        }
    }
    &__image{
        height: 100%;
        img{
            object-position: 100% 0;
        }
        @include tab{
            width: 54rem;
            height: 35rem;
            margin: 3rem auto 4.8rem auto;
        }
    }
    &__body{
        flex-grow: 1;
        display: initial;
        @include tab{
            display: contents
        }
    }
    &__title--en{
        width: 100%;
        height: 60px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../images/svg/background07.svg");
        background-size: cover;
        background-repeat: no-repeat;
        @include pc{
            height: 6rem;
        }
        @include tab{
            order: 1;
        }
    }
    &__title-inner{
        width: 250px;
        height: auto;
        margin: 0 auto;
        @include pc{
            width: 25rem;
            // height: 1.3rem;
        }
        @include tab{
            width: 30.7rem;
            // height: 2rem;
        }
    }
    &__text-box{
        align-items: flex-start;
        height: 340px;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @include pc{
            height: 34rem;
            padding-left: 5rem;
        }
        @include tab{
            height: auto;
            order: 3;
        }

    }
    &__text-box-inner{
        width: 540px;
        position: relative;
        margin-bottom: -6px;
        @include pc{
            width: 54rem;
            margin-bottom: -0.6rem;
        }
    }
    &__h2-title{
        @include font-style(40px, $color-blue2, 700);
        line-height: 1;
        padding-bottom: 8px;
        border-bottom: solid 1px $color-blue2;
        margin-bottom: 12px;
        letter-spacing: 0;
        @include pc{
            padding-bottom: 4rem;
            padding-bottom: 0.8rem;
            margin-bottom: 1.2rem;
            letter-spacing: 0;
        }
        @include tab{
            padding-bottom: 1.2rem;
            margin-bottom: 1.5rem;
            letter-spacing: 0;
        }
    }
    &__subtitle-box{
        margin-bottom: 7px;
        @include pc{
            margin-bottom: 0.7rem;
        }
        @include tab{
            margin-bottom: 1.2rem;
        }
    }
    &__text-box-image{
        width: 153px;
        height: 169px;
        position: absolute;
        right: 0;
        top: 5px;
        @include pc{
            width: 15.3rem;
            height: 16.9rem;
        }
        @include tab{
            width: 20.9rem;
            height: 23rem;
            left: 0;
            top: 100%;
            transform: translateY(3.5rem)
        }
    }
}
.subtitle-box{
    @include font-style(18px, $color-white, 500);
    line-height: 1;
    padding: 6px 13px;
    background-color: $color-blue2;
    display: inline-block;
    @include pc{
        font-size: 1.8rem;
        padding: 0.6rem 1.3rem;
    }
    @include tab{
        font-size: 2.5rem;
        line-height: 3.6rem;
        letter-spacing: 0.06em;
    }
}
.kowa-clean-middle{
    padding-top: 50px;
    @include pc{
        padding-top: 5rem;
    }
    @include tab{
        padding-top: 6.4rem;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include tab{
            flex-direction: column;
        }
    }
    &__right{
        width: 542px;
        @include pc{
            width: 54.2rem;
        }
        @include tab{
            width: 100%;
        }
        table{
            width: 100%;
            border: solid 2px $color-black;
            @include tab{
                margin-top: 3rem;
            }
        }
        tr{
            height: 30px;
            @include pc{
                height: 3rem;
            }
        }
        th{
            border: solid 1px $color-black;
            vertical-align: middle;
            text-align: center;
            @include font-style(19px, $color-white, 500);
            line-height: 1;
            background-color: $color-blue2;
            &:first-child{
                width: 49.6%;
                @include tab{
                    width: 50%;
                }
            }
            &:nth-child(2){
                width: 25.2%;
            }
            @include pc{
                font-size: 1.9rem;
            }
        }
        td{
            border: solid 1px $color-black;
            vertical-align: middle;
            text-align: center;
            @include font-style(16px, $color-black, 500);
            line-height: 1;
            &:first-child{
                text-align:left;
                padding-left: 7px;
            }
            @include pc{
                font-size: 1.6rem;
            }
            @include tab{
                font-size: 1.8rem;
                letter-spacing: -0.1em;
            }
        }

    }
}
.kowa-clean-bottom{
    padding-top: 46px;
    @include pc{
        padding-top: 4.6rem;
    }
    @include tab{
        padding-top: 5.5rem;
    }
}
.wide-table{
    width: 100%;
    display: flex;
    @include tab{
        flex-direction: column;
        gap: 2rem;
    }
    table{
        width: 50%;
        border-top: solid 2px $color-black;
        border-left: solid 2px $color-black;
        border-bottom: solid 2px $color-black;
        @include tab{
            width: 100%;
            border-right: solid 2px $color-black;
        }
        &:last-child{
            border-top: solid 2px $color-black;
            border-right: solid 2px $color-black;
            border-bottom: solid 2px $color-black;
            @include tab{
                width: 100%;
                border-left: solid 2px $color-black;
            }
        }
    }
    tr{
        height: 30px;
        @include pc{
            height: 3rem;
        }
    }
    th{
        width: 50%;
        border: solid 1px $color-black;
        vertical-align: middle;
        text-align: center;
        @include font-style(19px, $color-white, 500);
        line-height: 1;
        background-color: $color-blue2;
        &.head{
            height: 50px;
        }
        @include pc{
            font-size: 1.9rem;
        }
        @include tab{
            font-size: 2.5rem;
        }
    }
    td{
        border: solid 1px $color-black;
        vertical-align: middle;
        text-align: center;
        @include font-style(16px, $color-black, 500);
        line-height: 1;
        &.yellow{
            background-color: #fedd78;
        }
        @include pc{
            font-size: 1.6rem;
        }
        @include tab{
            font-size: 2rem;
        }
    }
}