//-------------------------------
//  main-visual
//-------------------------------
.top-main-visual-sec{
    &__inner{
        width: 100%;
        height: 450px;
        position: relative;
        @include pc{
            height: 45rem;
        }
        @include tab{
            height: auto;
            position: static;
            display: flex;
            flex-direction: column; 
        }
    }
    &__image{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @include tab{
            position: static;
        }
    }
    &__contents{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        @include tab{
            width: 100%;
            text-align:center;
            justify-content: center;
            display: block;
            padding: 3.2rem 5rem 2.7rem 5rem;
            background-color: #f5fafb;
        }
    }
    &__right{
        max-width: 559px;
        margin-top: 95px;
        margin-right: 90px;
        @include pc{
            max-width: 55.9rem;
            margin-top: 10rem;
            margin-right: 0;
        }
        @include tab{
            max-width: 100%;
            margin-top: 0;
        }
    }
    &__main-copy{
        margin-bottom: 18px;
        @include pc{
            margin-bottom: 1.8rem;
        }
    }
}
.main-copy{
    @include font-style(60px, $color-blue2, 600);
    line-height: 84px;
    z-index: 10;
    letter-spacing: 0.33em;
    @include pc{
        font-size: 6rem;
        line-height: 8.4rem
    }
    @include tab{
        font-size: 6.2rem;
        line-height: 7.6rem;
        letter-spacing: 0.24em;
    }
    span{
        @include font-style(17px, $color-blue2, 400);
        line-height: 28px;
        display: block;
        letter-spacing: 0.21em;
        @include pc{
            font-size: 1.7rem;
            line-height: 2.8rem;
        }
        @include tab{
            font-size: 2.5rem;
            line-height: 3.5rem;
            letter-spacing: 0;
            margin-bottom: 2rem;
        }
    }
}
.main-list{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    z-index: 10;
    gap: 15px;
    @include pc{
        gap: 1.5rem;
    }
    @include tab{
        justify-content: center;
        gap: 1.9rem;
    }
    &__item{
        width: 222px;
        height: 31px;
        text-align: center;
        @include font-style(22px, $color-white, 500);
        line-height: 31px;
        letter-spacing: 0.16em;
        border-radius:100vh;
        @include pc{
            width: 22.2rem;
            height: 3.1rem;
            font-size: 2.2rem;
            line-height: 3.1rem;
        }
        @include tab{
            width: 25.3rem;
            height: 3.5rem;
            font-size: 2.5rem;
            line-height: 3.5rem;
        }
        &--color--green2{
            background-color: $color-green2;
        }
        &--color--orange{
            background-color: $color-orange;
        }
        &--color--blue3{
            background-color: $color-blue3;
        }
        &--color--blue4{
            background-color: $color-blue4;
        }
        &:nth-child(2n + 2){
            margin-left: 15px;
            @include pc{
                margin-left: 1.5rem;
            }
        }
    }
}
//-------------------------------
//  sustainable
//-------------------------------
.sustainable-sec{
    &__inner{
        width: 100%;
    }
    &__h2-title{
        width: 281px;
        margin: 0 auto;
        padding: 23px 0;
        @include pc{
            width: 28.1rem;
            padding: 2.3rem;
        }
        @include tab{
            width: 30rem;
            padding: 1.7rem 0;
        }
    }
    &__images{
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        @include pc{
            height: 25rem;
        }
        @include tab{
            height: 8.2rem;
            background-color: #f5fafb;
        }
    }
    &__image{
        display: inline-block;
        @include tab{
            display: none;
        }
        &:nth-child(1){
            width: 55rem;
        }
        &:nth-child(2){
            width: 41.3rem;
        }
        &:nth-child(3){
            width: 95.7rem;
        }
    }
    &__media-block{
        width: 976px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 28px;
        @include pc{
            width: 97.6rem;
            margin-top: 2.8rem;
        }
        @include tab{
            flex-direction: column;
            width: 84.5vw;
            margin-top: 2.4rem;
        }
    }
    &__h3-title{
        border-top: solid 5px $color-blue;
        border-left: solid 5px $color-blue;
        border-right: solid 5px $color-blue;
        @include tab{
            border-top: solid 0.5rem $color-blue;
            border-left: solid 0.5rem $color-blue;
            border-right: solid 0.5rem $color-blue;
        }
    }
    &__text{
        max-width: 551px;
        letter-spacing: 0.095em;
        text-align: left;
        @include pc{
            max-width: 55.1rem;
            margin-bottom: 2.8rem;
        }
        @include tab{
            text-align: center;
            margin-bottom: 2rem;
        }
    }
    &__media-image{
        width: 390px;
        height: 375px;
        @include pc{
            width: 39rem;
            height: 37.5rem;
        }
        @include tab{
            width: 100%;
            height: 30rem;
        }
    }
}

//-------------------------------
//  haccp
//-------------------------------
.haccp-sec{
    width: 100%;
    padding: 35px 0px 30px 0;
    background-image: url("../images/svg/background01.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 76px;
    @include pc{
        padding: 3.5rem 0px 3rem 0;
        margin-top: 7.6rem;
    }
    @include tab{
        padding: 4.7rem 0;
        margin-top: 7.2rem;
    }
    &__h2-title{
        margin-bottom: 28px;
        letter-spacing: 0.24em;
        @include pc{
            margin-bottom: 3.1rem;
        }
        @include tab{
            text-align: center;
            margin-bottom: 3.5rem;
        }
    }
    &__media{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include tab{
            flex-direction: column;
            gap: 4.7rem;
        }
    }

    &__right{
        width: 220px;
        height: 170px;
        background-color: $color-white;
        display: flex;
        justify-content: center;
        @include pc{
            width: 22rem;
            height: 17rem;
        }
        @include tab{
            width: 30rem;
            height: 14rem;
        }
        &-inner{
            text-align: center;
        }
    }
    &__h3-title{
        @include font-style(24px, $color-blue2, 600);
        line-height: 1;
        letter-spacing: 0.13em;
        margin-top: 64px;
        margin-bottom: 8px;
        @include pc{
            font-size: 2.4rem;
            margin-top: 6.4rem;
            margin-bottom: 0.8rem;
        }
        @include tab{
            font-size: 3.6rem;
            margin-top: 3.5rem;
            margin-bottom: 1rem;
        }
    }
    &__ja{
        @include font-style(20px, $color-white, 600);
        line-height: 25px;
        display: inline-block;
        width: 121px;
        height: 25px;
        background-color: $color-blue2;
        border-radius: 100vh;
        text-align: center;
        @include pc{
            font-size: 2rem;
            line-height: 2.5rem;
            width: 12.1rem;
            height: 2.5rem;
            @include tab{
                width: 18rem;
                height: 3.5rem;
                font-size: 2.6rem;
                line-height: 3.5rem;
            }
        }
    }
    &_left{
        width: 100%;
    }
    &__text{
        @include font-style(22px, $color-white, 300);
        line-height: 36px;
        width: 721px;
        text-align: left;
        word-wrap: break-all;
        overflow-wrap: break-word;
        @include pc{
            font-size: 2.2rem;
            line-height: 3.6rem;
            width: 72.1rem;
        }
        @include tab{
            width: 100%;
            font-size: 2.5rem;
            line-height: 3.5rem;
            letter-spacing: 0.05em;
        }
        
    }
}
//-------------------------------
//  Product
//-------------------------------
.product-sec{
    width: 100%;
    background-image: url("../images/background02.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 78px 0 64px;
    @include pc{
        padding: 7.8rem 0 6.4rem;
    }
    @include tab{
        padding: 4.7rem 0 1.4rem;
    }
    &__inner{
        text-align: center;
    }
    &__h2-title{
        text-align: center;
        margin-bottom: 45px;
        @include pc{
            margin-bottom: 4.5rem;
        }
        @include tab{
            margin-bottom: 6.2rem;
        }
    }
    &__link{
        margin-top: 18px;
        @include pc{
            margin-top: 1.8rem;
        }
    }
}
.product-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 55px;
    @include pc{
        gap: 5.5rem;
    }
    @include tab{
        gap: 2.2rem;
    }
    &__item{
        width: 445px;
        display: block;
        @include pc{
            width: 44.5rem;
        }
        @include tab{
            width: 52.4rem;

        }
        &:nth-child(2n + 2){
            margin-right: 15px;
            @include pc{
                margin-right: 1.5rem;
            }
        }
        &:nth-child(3){
            margin-top: -16px;
            @include pc{
                margin-top: -1.6rem;
            }
            @include tab{
                margin-top: 0;
            }
        }
        &:nth-child(4){
            margin-top: -16px;
            @include pc{
                margin-top: -1.6rem;
            }
            @include tab{
                margin-top: 0;
            }
        }
    }
    &__image{
        width: 100%;
        height: 245px;
        position: relative;
        img{
            position: relative;
            z-index: 1;
        }
        @include pc{
            height: 24.5rem;
        }
        @include tab{
            height: 28.8rem;
        }
        &:before{
            content: "";
            display: block;
            width: 390px;
            height: 160px;
            position: absolute;
            z-index: 0;
            @include pc{
                width: 39rem;
                height: 16rem;
            }
            @include tab{
                width: 45.9rem;
                height: 18.8rem;
            }
        }
        &-01{
            &:before{
                background: linear-gradient(90deg, $color-white 0%, #d8ebdd 30%, #5fc1c7);
                top: 0;
                right: 0;
                transform: translate(15px, -15px);
                @include pc{
                    transform: translate(1.5rem, -1.5rem);
                }
                @include tab{
                    transform: translate(1.7rem, -1.7rem);
                }
            }
        }
        &-02{
            &:before{
                background: linear-gradient(180deg, $color-white 0%, #d8ebdd 30%, #5fc1c7);
                bottom: 0;
                right: 0;
                transform: translate(15px, 15px);
                @include pc{
                    transform: translate(1.5rem, 1.5rem);
                }
                @include tab{
                    transform: translate(1.7rem, 1.7rem);
                }
            }
        }
        &-03{
            &:before{
                background: linear-gradient(180deg, $color-white 0%, #d8ebdd 30%, #6ac1ad);
                bottom: 0;
                right: 0;
                transform: translate(15px, 15px);
                @include pc{
                    transform: translate(1.5rem, 1.5rem);
                }
                @include tab{
                    transform: translate(1.7rem, 1.7rem);
                }
            }
        }
        &-04{
            &:before{
                background: linear-gradient(0deg, $color-white 0%, #d8ebdd 30%, #5fc1c7);
                top: 0;
                right: 0;
                transform: translate(15px, -15px);
                @include pc{
                    transform: translate(1.5rem, -1.5rem);
                }
                @include tab{
                    transform: translate(1.7rem, -1.7rem);
                }
            }
        }
    }
    &__bottom{
        width: 405px;
        height: 160px;
        padding: 20px 0 20px 20px;
        margin: 0 auto;
        background-color: $color-white;
        transform: translateY(-30px);
        position: relative;
        z-index: 2;
        @include pc{
            width: 40.5rem;
            height: 16rem;
            padding: 2rem 0 2rem 2rem;
            transform: translateY(-3rem);
        }
        @include tab{
            width: 47.5rem;
            height: 24.8rem;
            padding: 2.3rem 0 2.3rem 2.3rem;
            transform: translateY(-3.5rem);
        }
    }
    &__media{
        display: flex;
        align-items: center;
        margin-bottom: 13px;
        @include pc{
            margin-bottom: 1.5rem;
        }
        span{
            width: 3px;
            height: 80px;
            display: block;
            background-color: $color-blue;
            @include pc{
                width: 0.3rem;
                height: 8rem;
            }
            @include tab{
                width: 0.4rem;
                height: 14rem;
            }
        }
    }
    &__left{
        width: 87px;
        &.list-2n{
            width: 77px;
        }
        @include pc{
            width: 8.7rem;
        }
        @include tab{
            width: 10rem;
            &.list-2n{
                width: 10rem;
            }
        }
    }
    &__icon{
        margin: 0 auto;
        &-01{
            width: 60px;
            height: 66px;
            @include pc{
                width: 5.9rem;
                height: 6.5rem;
            }
            @include tab{
                width: 7rem;
                height: 7.7rem;
            }
        }
        &-02{
           width: 56px;
           height: 55px; 
           @include pc{
                width: 5.6rem;
                height: 5.5rem;
            }
        }
        &-03{
            width: 70px;
            height: 56px;
            @include pc{
                width: 7rem;
                height: 5.6rem;
            }
        }
        &-04{
            width: 62px;
            height: 63px;
            @include pc{
                width: 6.2rem;
                height: 6.3rem;
            }
        }
    }
    &__right{
        margin-left: 12px;
        text-align: left;
        @include pc{
            margin-left: 1.2rem;
        }
    }
    &__h3-title{
        @include font-style(22px, $color-black, 500);
        line-height: 1;
        letter-spacing: 0.16em;
        margin-bottom: 12px;
        @include pc{
            font-size: 2.2rem;
            margin-bottom: 1.2rem;
        }
        @include tab{
            font-size: 2.8rem;

        }
    }
    &__description{
        @include font-style(14px, $color-black, 300);
        line-height: 25px;
        letter-spacing: 0em;
        width: 275px;
        @include pc{
            font-size: 1.5rem;
            width: 27.5rem;
            line-height: 2.5rem;
        }
        @include tab{
            font-size: 2.5rem;
            line-height: 3.5rem;
            width: 33rem;
        }
    }
    &__link{
        @include font-style(13px, $color-white, 500);
        line-height: 1;
        width: 365px;
        height: 25px;
        letter-spacing: 0.27em;
        background-color: $color-blue2;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        position: relative;
        @include pc{
            width: 36.5rem;
            font-size: 1.3rem;
            line-height: 2.5rem;
            height: 2.5rem;
        }
        @include tab{
            width: 42.8rem;
            height: 4rem;
            font-size: 2.5rem;
            letter-spacing: 0.2em;
        }
        &-icon{
            width: 5px;
            height: 10px;
            display: inline-block;
            position: absolute;
            background-image: url("../images/svg/arrow-white.svg");
            background-repeat: no-repeat;
            background-size: cover;
            top: 50%;
            right: 21%;
            transform: translateY(-50%);
            @include pc{
                width: 0.6rem;
                height: 1rem;
            }
            @include tab{
                height: 2rem;
                width: 1rem;
                right: 19%;
            }
        }
        &:hover{
            background-color: $color-blue;
            transition: background-color 0.3s ease;
        }
    }
}
//-------------------------------
//  functional-water
//-------------------------------
.media-block-top{
    background-color: $color-blue;
    &__image{
        top: 0;
        left: 0;
        img{
            object-position: 100% 0;
        }
    }
    &__title--en{
        @include font-style(18px, $color-white, 300);
        @include pc{
            font-size: 1.4rem;
        }
    }
    &__title-inner{
        width: 261px;
        height: auto;
        margin: 0 auto;
        @include pc{
            width: 26.1rem;
            // height: 1.3rem;
        }
        @include tab{
            width: 40.8rem;
            // height: 2rem;
        }
    }
    &__text-box{
        background-color: #f9f8f5;
        align-items: flex-start;
        &-inner{
            margin-left: 150px;
            @include pc{
                margin-left: 20rem;
            }
        }
    }
    &__link{
        margin-left: auto;
        @include tab{
            margin: 0 auto;
        }
    }
}
.media-block-bottom{
    background-image: url("../images/svg/background03.svg");
    &__inner{
        flex-direction: row-reverse;
    }
    &__image{
        top: 0;
        right: 0;
        img{
            object-position: 0 0;
        }
    }
    &__title--en{
        @include font-style(18px, $color-blue2, 300);
        @include pc{
            font-size: 1.4rem;
        }
    }
    &__title-inner{
        width: 500px;
        height: auto;
        margin: 0 auto;
        // margin-left: 240px;
        @include pc{
            width: 50rem;
            // height: 1.3rem;
            margin: 0 auto;
        }
        @include tab{
            width: 49.1rem;
            // height: auto;
        }
    }
    &__text-box{
        background-color: $color-white;
        align-items: flex-end;
        &-inner{
            margin-left: auto;
            margin-right: 150px;
            @include pc{
                margin-right: 20rem;
            }
        }
    }
    &__link{
        margin-right: auto;
        @include tab{
            margin: 0 auto;
        }
    }
}
.media-block {
    width: 100%;
    &__inner{
        position: relative;
        display: flex;
        @include tab{
            flex-direction: column;
        }
    }
    &__empty{
        width: 36.46%;
        @include pc{
            width: 28.33%;
        }
        @include tab{
            width: 100%;
            order: 2;
        }
    }
    &__image{
        width: 80rem;
        height: 400px;
        position: absolute;
        @include pc{
            width: 44rem;
            height: 40rem;
        }
        @include tab{
            width: 100%;
            position: static;
        }
    }
    &__body{
        width: 63.54%;
        display: initial;
        @include pc{
            width: 71.67%;
        }
        @include tab{
            display: contents;
        }
    }
    &__title--en{
        width: 100%;
        height: 100px;
        text-align: center;
        letter-spacing: 0.45em;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        @include pc{
            height: 10rem;
        }
        @include tab{
            order: 1;
        }
    }
    &__h2-title{
        padding-bottom: 13px;
        border-bottom: solid 1px $color-blue2;
        margin-bottom: 7px;
        @include pc{
            padding-bottom: 1.3rem;
            margin-bottom: 0.7rem;
        }
        @include tab{
            text-align: center;
            margin-bottom: 1.2rem;
        }
    }
    &__description{
        @include font-style(22px, $color-black, 300);
        line-height: 36px;
        margin-bottom: 12px;
        flex-grow: 1;
        @include pc{
            font-size: 2.2rem;
            line-height: 3.6rem;
            margin-bottom: 1.2rem;
        }
        @include tab{
            font-size: 2.5rem;
            line-height: 4.1rem;
            margin-bottom: 5rem;
        }
    }
    &__text-box{
        height: 400px;
        padding: 50px 0;
        &-inner{
            width: 592px;
            height: 100%;
            display: flex;
            flex-direction: column;
            @include pc{
                width: 59rem;
            }
            @include tab{
                margin: 0 auto;
            }
        }
        @include pc{
            padding: 5rem 0;
            height: 45rem;
        }
        @include tab{
            padding: 4.5rem 0 6rem 0;
            height: auto;
            order: 3;
        }
    }
}
//-------------------------------
//  Works
//-------------------------------
.works-sec{
    text-align: center;
    padding: 114px 0 40PX;
    @include pc{
        padding: 11.4rem 0 4rem;
    }
    @include tab{
        padding: 4.4rem 0 0 0;
    }
    &__inner{
        width: 100%;
    }
    &__h2-title{
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 12px;
        letter-spacing: 0.2em;
        @include pc{
            margin-bottom: 0.8rem;
        }
        &:before{
            content: "";
            display: block;
            width: 2px;
            height: 31px;
            background-color: $color-black;
            transform: rotate(-22deg);
            margin-right: 31px;
            @include pc{
                height: 3.1rem;
                margin-right: 3.1rem;
            }
            @include tab{
                margin-top: 1rem;
                margin-right: 3.3rem;
            }
        }
        &:after{
            content: "";
            display: block;
            width: 2px;
            height: 31px;
            background-color: $color-black;
            transform: rotate(22deg);
            margin-left: 28px;
            @include pc{
                height: 3.1rem;
                margin-left: 2.8rem;
            }
            @include tab{
                margin-top: 1rem;
                margin-left: 2.2rem;
            }
        }
        &--en{
            display: inline-block;
            width: 527px;
            height: auto;
            @include pc{
                width: 52.7rem;
            }
            @include tab{
                
                width: 42.1rem;
                margin-top: 1rem;
            }
            
        }
    }
    &__link{
        margin-top: 40px;
        @include pc{
            margin-top: 4rem;
        }
        @include tab{
            margin-top: 6.4rem;
        }
    }
    &__container{
        width: 1090px;
        margin: 0 auto;
        @include pc{
            width: 93vw;
        }
        @include tab{
            width: 84.5vw;
        }
    }
    &__wrapper{
        display: flex;
        gap: 65px;
        @include pc{
            gap: 6.5rem;
        }
        @include tab{
            flex-direction: column;
            gap: 4.8rem;
        }
    }
}
.swiper{
    &-wrap{
        background-image: url("../images/svg/background04.svg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 26px 0;
        margin-top: 24px;
        @include pc{
            padding: 2.6rem 0;
            margin-top: 2.4rem;
        }
        @include tab{
            padding: 4.7rem 0 6rem 0;
            margin-top: 2.7rem;
        }
    }
    &-slide{
        width: 320px;
        height: 370px;
        background-color: $color-white;
        padding: 10px;
        display: block;
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
        @include pc{
            width: 32rem;
            height: 37rem;
            padding: 1rem;
            box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
        }
        @include tab{
            width: 53.2rem;
            height: 62.3rem;
            padding: 1.6rem;
            box-shadow: 0.8rem 0.8rem 0 rgba(0, 0, 0, 0.2);
        }
        &:nth-child(2n){
            .swiper-slide__image{
                border: solid 10px $color-green;
                @include pc{
                    border: solid 1rem $color-green;
                }
                @include tab{
                    border: solid 1.6rem $color-green;
                }
            }
        }
        &__image{
            width: 300px;
            height: 180px;
            border: solid 10px $color-blue;
            @include pc{
                width: 30rem;
                height: 18rem;
                border: solid 1rem $color-blue;
            }
            @include tab{
                width: 50rem;
                height: 30.2rem;
                border: solid 1.6rem $color-blue;
            }
        }
        &__body{
            // height: 100%;
            margin-top: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            text-align: left;
            @include pc{
                margin-top: 1rem;
                padding: 1rem;
            }
            @include tab{
                margin-top: 2.4rem;
                padding: 1.6rem;
            }
        }
        &__time{
            @include font-style(12px, $color-blue2, 400);
            line-height: 1;
            letter-spacing: 0.05em;
            @include pc{
                font-size: 1.2rem;
            }
            @include tab{
                font-size: 2rem;
            }
        }
        &__category{
            @include font-style(15px, $color-red, 500);
            width: 100%;
            height: 30px;
            letter-spacing: 0.06em;
            display: flex;
            align-items: center;
            border-radius: 10px;
            border: solid 2px $color-red;
            padding-left: 10px;
            margin-top: 5px;
            @include pc{
                font-size: 1.5rem;
                height: 3rem;
                border-radius: 1rem;
                padding-left: 1rem;
                margin-top: 0.5rem;
            }
            @include tab{
                font-size: 2.5rem;
                height: 5rem;
                border-radius: 2.1rem;
                padding-left: 2.1rem;
                margin-top: 0.8rem;
                border: solid 0.3rem $color-red;
            }
        }
        &__h3-title{
            @include font-style(20px, $color-green3, 600);
            line-height: 1;
            letter-spacing: 0.13em;
            margin-top: 9px;
            @include pc{
                font-size: 2rem;
                margin-top: 0.9rem;
            }
            @include tab{
                font-size: 3.2rem;
                margin-top: 1.5rem;

            }
        }
        &__description{
            @include font-style(15px, $color-black, 300);
            line-height: 1.4;
            letter-spacing: 0.06em;
            flex-grow: 1;
            margin-top: 9px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-oriental: vertical;
            @include pc{
                font-size: 1.5rem;
                margin-top: 0.9rem;
            }
            @include tab{
                font-size: 2.5rem;
                line-height: 3.6rem;
                margin-top: 1.5rem;
            }
        }
    }
    &-pagination{
        display: flex;
        gap: 34px;
        margin-top: 4px;
        left: 50%;
        transform: translateX(-50%);
        @include pc{
            gap: 3.4rem;
        }
        &-bullet{
            width: 15px;
            height: 15px;
            &-active{
                background-color: $color-blue;
            }
        }
    }
}
//-------------------------------
// news
//-------------------------------
.news-sec{
    padding-top: 68px;
    @include pc{
        padding-top: 11.6rem;
    }
    @include tab{
        padding-top: 7rem;
    }
    &__inner{
        text-align: center;
    }
    &__h2-title{
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 12px;
        @include pc{
            margin-bottom: 0.8rem;
        }
        &:before{
            content: "";
            display: block;
            width: 2px;
            height: 31px;
            background-color: $color-black;
            transform: rotate(-22deg);
            margin-right: 42px;
            @include tab{
                margin-top: 1rem;
                margin-right: 5rem;
            }
        }
        &:after{
            content: "";
            display: block;
            width: 2px;
            height: 31px;
            background-color: $color-black;
            transform: rotate(22deg);
            margin-left: 42px;
            @include tab{
                margin-top: 1rem;
                margin-left: 5rem;
            }
        }
        &--en{
            display: inline-block;
            width: 74px;
            height: auto;
            @include pc{
                width: 7.4rem;
            }
            @include tab{
                width: 9.2rem;
                margin-top: 1.4rem;
            }
            
        }
    }
    &__lists{
        width: 800px;
        margin: 15px auto 0 auto;
        border-bottom: solid 1px $color-blue2;
        @include pc{
            width: 80rem;
            margin: 1.5rem auto 0 auto;
        }
        @include tab{
            width: 84vw;
            margin: 4.5rem auto 0 auto;
        }
    }
    &__link{
        margin-top: 44px;
        @include pc{
            margin-top: 4.4rem;
        }
        @include tab{
            margin-top: 6rem;
        }
    }
}
.news-list{
    display: block;
    height: 70px;
    border-top: solid 1px $color-blue2;
    @include pc{
        height: 7rem;
    }
    @include tab{
        height: 10rem;
    }
    &:hover{
        background-color: rgba(95, 193, 199, 0.1);
    }
    &__link{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 12px 0 39px;
        @include pc{
            padding: 0 1.2rem 0 3.9rem;
        }
        @include tab{
            padding: 0 1.5rem 0 2rem;
        }
    }
    &__left{
        text-align: left;
    }
    &__time{
        @include font-style(15px, $color-black, 300);
        line-height: 1;
        display: inline-block;
        margin-right: 88px;
        @include pc{
            font-size: 1.5rem;
            margin-right: 8.8rem;
        }
        @include tab{
            font-size: 2rem;
            margin-right: 0;
            display: block;
        }
    }
    &__title{
        @include font-style(15px, $color-black, 300);
        line-height: 1;
        display: inline-block;
        letter-spacing: 0.15em;
        @include pc{
            font-size: 1.5rem;
        }
        @include tab{
            font-size: 2.5rem;
            display: block;
            margin-top: 1.6rem;
        }
    }
    &__icon{
        display: block;
        width: 16px;
        height: 33px;
        margin-left: auto;
        @include pc{
            width: 1.6rem;
            height: 3.3rem;
        }
        @include tab{
            width: 2.4rem;
            height: 5rem;
        }
    }
}