.archive-sec{
    margin-top: 54px;
    @include pc{
        margin-top: 5.4rem;
    }
    @include tab{
        margin-top: 8.2rem;
    }
    .pagination{
        margin-top: 60px;
        @include pc{
            margin-top: 6rem;
        }
        @include tab{
            margin-top: 8rem;
            margin-bottom: 9.5rem;
        }        
    }
}
.archive-item{
    padding: 58px 0;
    border-bottom: solid 1px $color-black;
    @include tab{
        padding: 5.8rem 0;
    }
    &__left{
        @include tab{
            display: contents;
        }
    }
    &__right{
        width: 557px;
        @include pc{
            width: 55.7rem;
        }
        @include tab{
            width: 100%;
            order: 2;
        }
    }
    &__archive-thumbnail{
        @include tab{
            margin-top: 3.3rem;
        }
    }
    &__archive-time{
        margin-bottom: 20px;
        @include pc{
            margin-bottom: 2rem;
        }
        @include tab{
            margin-bottom: 2.7rem;
        }
    }
    &__archive-description{
        margin-top: 20px;
        @include pc{
            margin-top: 2rem;
        }
        @include tab{
            margin-top: 3.3rem;
        }
    }
}
.archive-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include tab{
        flex-direction: column;
    }
}
.archive-time{
    @include font-style(13px, $color-black, 400);
    line-height: 1;  
    display: inline-block;
    @include pc{
        font-size: 1.3rem;
    }
    @include tab{
        font-size: 2rem;
        order: 1;
    }
}
.archive-thumbnail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include pc{
        gap: 1rem;
    }
    @include tab{
        flex-direction: row;
        gap: 3rem;
        order: 3;
    }
}
.archive-image{
    width: 347px;
    height: 240px;
    @include pc{
        width: 34.7rem;
        height: 24rem;
    }
    @include tab{
        width: 25.5rem;
        height: 24rem;
    }
}
.archive-category{
    @include font-style(16px, $color-white, 500);
    letter-spacing: 0.27em;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 16px;
    background-color: $color-blue;
    @include pc{
        font-size: 1.6rem;
        height: 3rem;
        line-height: 3rem;
        padding-left: 1.6rem;
    }
    @include tab{
        font-size: 2.5rem;
        height: 4rem;
        line-height: 4rem;
    }
}
.archive-title{
    line-height: 44px;
    padding: 18px 0;
    border-bottom: 1px solid $color-black;
    display: -weblit-box;
    overflow: hidden;
    -weblit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include pc{
        padding: 1.8rem 0;
        line-height: 4.4rem;
    }
    @include tab{
        padding: 2.3rem 0;
    }
    .category-news &{
        padding: 0 0 37px;
        margin-top: -7px;
        @include pc{
            padding: 0 0 3.7rem;
            margin-top: -0.7rem;
        }
    }
}
.page-navi{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 22px;
    position: relative;
    @include pc{
        gap: 2.2rem;
    }
    @include tab{
        gap: 4.4rem;
    }
    a{
        display: block;
        border: solid 1px #9e9997;
        color: #9e9997;
        padding: 4px 7px;
        line-height: 1;
        text-align: center;
        font-size: 21px;
        @include pc{
            padding: 0.4rem 0.7rem;
            font-size: 2.1rem;
        }
        @include tab{
            font-size: 2.9rem;
            padding: 0.45rem 0.95rem;
        }
    }
    .current{
        a{
            border: solid 1px $color-black;
            color: $color-black;
        }
    }
    .previous,.next{
        position: absolute;
        top: 0;
        padding: 0 11px;
        background-color: $color-blue;
        border-radius: 7px;
        @include pc{
            padding: 0 1.1rem;
            border-radius: 0.7rem;
        }
        @include tab{
            top: 200%;
            padding: 0 2.9rem;
            border-radius: 0.7rem;
        }
    }
    .previous{
        left: 0;
        a{
            border: none;
            color: $color-white;
        }
    }
    .next{
        right: 0;
        a{
            border: none;
            color: $color-white;
        }
    }
}