@import 'common/_font&color';
@import 'common/_responsive';
@import 'common/destyle';

//-------------------------------
//  All-page-common-css
//-------------------------------

//IEのみテキストをメイリオに変更
html{
    font-family: $font;
    /*
    計算式：10px /  デザインカンプの横幅 * 100
    画面サイズがデザインカンプ幅の時font-size = 10pxになる
    */
    font-size: calc(10 / 1920 * 100) + vw;
    @include pc{
        font-size: calc(10 / 1200 * 100) + vw;
    }
    @include tab{
        font-size: calc(10 / 640 * 100) + vw;
    }
    // @include sp{
    //     font-size: calc(10 / 375 * 100) + vw;
    // }
}
body{
    font-size: 1.6rem;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &.fixed{
        position: fixed;
        z-index: 1;
        &:before{
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
}
body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
picture{
    display: block;
}
.site-content{
    width: 100%;
    overflow: hidden;
}
.container{
    width: 1200px;
    margin: 0 auto;
    &--size-s{
        width: 960px;
        margin: 0 auto;
        @include pc-tab{
            width: 80vw;
        }
        @include tab{
            width: 84.5vw;
        }
    }
    &--size-ss{
        width: 800px;
        margin: 0 auto;
        @include pc{
            width: 80rem;
        }
        @include tab{
            width: 84.5vw;
        }
    }
    @include pc-tab{
        width: 90vw;
    }
    @include tab{
        width: 84.5vw;
    }
}
.br-pc{
    @include tab{
        display: none
    }
}
.br-tab{
    display: none;
    @include tab{
        display: block;
    }
}
//-------------------------------
//  Components
//-------------------------------

//
//logo
//
.logo{
   display: inline-block;
   span{
    @include font-style(16px, $color-black, 400);
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1;
    margin-bottom: 14px;
    @include pc{
        font-size: 1.6rem;
        margin-bottom: 1.4rem;
    }
    @include tab{
        text-align: left;
    }
    @include sp{
        font-size: 1rem;
        margin-bottom: 0.6rem;
    }
   }
}

//
// Section-margin
//
.section-margin{
    margin-top: 100px;
    @include sp{
        margin-top: 8rem;
    }
}
//
// box-title
//
.title{
    @include font-style(30px, $color-blue, 600);
    line-height: 70px;
    letter-spacing: 0.2em;
    width: 600px;
    height: 70px;
    display: block;
    text-align: center;
    background-color: $color-white;
    margin: 0 auto;
    transform: translateY(-50%);
    position: relative;
    @include pc{
        font-size: 3rem;
        line-height: 7rem;
        width: 60rem;
        height: 7rem;
    }
    @include tab{
        width: 54rem;
        transform: translateY(-50%);
        font-size: 3.6rem;
        letter-spacing: 0.1em;
    }
    &:after{
        content: "";
        display: block;
        width: 56px;
        // height: 28px;
        border-top: solid 28px $color-blue;
        border-left: solid 28px transparent;
        border-right: solid 28px transparent;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        @include pc{
            width: 5.6rem;
            // height: 28px;
            border-top: solid 2.8rem $color-blue;
            border-left: solid 2.8rem transparent;
            border-right: solid 2.8rem transparent;
            top: 100%;
        }
    }
}
//
// h2
//
.h2-title{
    @include font-style(30px, $color-black, 600);
    font-family: $font;
    line-height: 1;
    letter-spacing: 0.27em;
    &--color--white{
        color: $color-white;
    }
    &--color--blue2{
        color: $color-blue2;
    }
    &--size-l{
        @include font-style(36px, $color-blue2, 600);
        line-height: 1;
        letter-spacing: 0.18em;
        @include pc{
            font-size: 3.6rem;
        }
    }
    @include pc{
        font-size: 3rem;
    }
    @include tab{
        font-size: 3.6rem;
        line-height: 4.6rem;
        letter-spacing: 0.2em;
    }
}

//
// paragraph
//
.paragraph{
    @include font-style(24px, $color-blue2, 600);
    line-height: 44px;
    letter-spacing: 0.21em;
    text-align: center;
    @include pc{
        font-size: 2.4rem;
        line-height: 4.4rem;
    }
    @include tab{
        font-size: 2.8rem;
        line-height: 4.4rem;
        letter-spacing: 0em;
    }
}
.page-paragraph{
    @include font-style(22px, $color-black, 300);
    line-height: 3.6rem;
    letter-spacing: 0.05em;
    @include pc{
        font-size: 2.2rem;
        line-height: 3.6rem;
    }
    @include tab{
        font-size: 2.8rem;
        line-height: 4.1rem;
    }
}
//
// link
//
.link{
    @include font-style(20px, $color-blue2, 500);
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    width: 350px;
    background-color: $color-white;
    border: solid 2px $color-blue2;
    letter-spacing: 0.27em;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    &--size--s{
        font-size: 18px;
        height: 55px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, color 0.3s ease;
        letter-spacing: 0.2em;
        @include pc{
            font-size: 1.8rem;
            height: 5.5rem;
        }
        @include tab{
            font-size: 2.7rem;
            height: 5.8rem;
        }
        &__link-icon{
            display: inline-block;
            width: 9px;
            height: 19px;
            position: relative;
            margin-left: 10px;
            background-image: url("../images/svg/arrow-blue2.svg");
            background-size: cover;
            background-repeat: no-repeat;
            @include pc{
                width: 0.9rem;
                height: 1.9rem;
                margin-left: 1rem;
            }
            @include tab{
                width: 1.1rem;
                height: 2.2rem;
                margin-left: 0.5rem;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    &:hover{
        background-color: $color-blue2;
        color: $color-white;
        transition: background-color 0.3s ease, color 0.3s ease;
        .link--size--s__link-icon{
            background-image: url("../images/svg/arrow-white.svg");
        }
    }
    @include pc{
        font-size: 2rem;
        line-height: 6rem;
        width: 35rem;
        height: 6rem;
    }
    @include tab{
        font-size: 2.7rem;
        width: 44rem;
        height: 5.8rem;
        line-height: 5.8rem;
    }
}




//-------------------------------
//  header
//-------------------------------
.header{
    width: 100%;
    height: 85px;
    background-color: $color-white;
    position: absolute;
    top: 0;
    left: 0;
    .page &{
        background-color: rgba(255, 255, 255, 0.8);
        @include tab{
            position: relative;
        }
    }
    @include pc{
        height: 8rem;
    }
    @include tab{
        width: 100%;
        height: 8rem;
        top: 0;
    }
    &__inner{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left{
        z-index: 9;
    }
    &__logo{
        width: 290px;
        margin-left: 140px;
        @include pc{
            width: 29.1rem;
            margin-left: 6rem;
        }
    }
    &__cart-btn{
        margin-right: 63px;
        z-index: 9;
        @include pc{
            margin-right: 6.3rem;
        }
        @include tab{
            margin-right: 4.7rem;
        }
    }
    &__right{
       display: flex;
       align-items: center;
       margin-left: auto;
    //    z-index: 15;
    }
}
.header__custom{
    position: relative;
}
.global-navi{
    display: flex;
    flex-direction: column;
    // height: 100%;
    .menu-item{
        width: 100%;
        display: inline-block;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 26px;
        &.js-accordion{
            cursor: pointer;
        }
        @include pc{
            margin-bottom: 2.6rem;
        }
        @include sp{
            margin-bottom: 26px;
        }
    }
    .nav-link{
        @include font-style(16px, $color-blue2, 500);
        font-family: $font;
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items:center;
        line-height: 23px;
        transition: filter 0.2s ease, color 0.2s ease;
        border-bottom: solid 1px $color-blue2;
        @include pc{
            font-size: 1.6rem;
            line-height: 2.3rem;
        }
        @include sp{
            font-size: 16px;
            line-height: 23px;
        }
        &:hover{
            filter: brightness(120%);
            color: $color-blue2;
            transition: filter 0.2s ease, color 0.2s ease;
        }
        &.is-active{
            color: $color-green;
            @include tab{
                color: $color-white;
            }
        }
    }
    .sub-menu{
        width: 221px;
        margin: 12px auto 0 auto;
        @include pc{
            width: 22.1rem;
            margin: 1.2rem auto 0.2rem auto;
        }
        @include sp{
            width: 221px;
            margin: 12px auto 0 auto;
        }
        .menu-item{
            margin-bottom: 13px;
            @include pc{
                margin-bottom: 1.3rem;
            }
            @include pc{
                margin-bottom: 13px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__navi-icon{
        width: 6px;
        height: 13px;
        display: inline-block;
        position: relative;
        margin-right: 10px;
        img{
            position: absolute;
            top: 0;
        }
        @include pc{
            width: 0.6rem;
            height: 1.3rem;
            margin-right: 1rem;
        }
        @include pc{
            width: 6px;
            height: 13px;
            margin-right: 10px;
        }
    }
}
.cf{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    @include pc{
        margin-top: 1.6rem;
    }
    @include sp{
        margin-top: 16px;
    }
    li{
        width: 100%;
    }
    .user_name{
        @include font-style(12px, $color-blue2, 500);
        padding: 8px 0;
        @include pc{
            font-size: 1.2rem;
            padding: 0.6rem 0;
        }
        @include sp{
            font-size: 12px;
            padding: 8px 0;
        }
    }
    .user_login_icon{
        display: inline-block;
        width: 20px;
        height: 23px;
        margin-right: 6px;
        @include pc{
            width: 2rem;
            height: 2.3rem;
            margin-right: 0.6rem;
        }
        @include sp{
            width: 20px;
            height: 23px;
            margin-right: 6px;
        }
    }
}
.js-sitemap{
    display: none;
}
.user-btn{
    width: 100%;
    height: 35px;
    border: solid 2px $color-blue2;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-style(16px, $color-blue2, 500);
    @include pc{
        height: 3.5rem;
        font-size: 1.6rem;
    }
    @include sp{
        height: 35px;
        font-size: 16px;
    }
}
.user_new_regist{
    background-color: #eeeeee;
    margin-top: 25px;
    @include pc{
        margin-top: 2.5rem;
    }
}
.navi{
    width: 351px;
    height: 100%;
    background-color: $color-white;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 11;
    padding: 80px 50px 0;
    overflow-y: scroll;
    @include pc{
        width: 35.1rem;
        padding: 8rem 5rem 0;
    }
    @include sp{
        width: 100%;
        padding: 80px 50px 0;
    }
    &.menu-open{
        transform: translateX(0%);
        transition: transform 0.5s ease;
    }
    &__inner{
        // overflow: scroll;
    }
    &__logo{
        width: 244px;
        margin: 0 auto 35px auto;
        @include pc{
            width: 24.3rem;
            margin: 0 auto 3.5rem auto;
        }
        @include sp{
            width: 244px;
            margin: 0 auto 35px auto;
        }
    }
}
.cart-btn{
    &:hover{
        filter: brightness(120%);
        transition: filter 0.3s ease;
    }
    a{
        display: inline-block;
        width: 50px;
        height: 43px;
        position: relative;
        @include pc{
            width: 5rem;
            height: 4.3rem;
        }
    }
    .total-quant{
        @include font-style(12px, $color-white, 300);
        position: absolute;
        display: flex;
        width: 20px;
        height: 20px;
        line-height: 20px;
        top: -5px;
        right: -10px;
        border-radius: 100%;
        background-color: $color-blue;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include pc{
            font-size: 1.2rem;
            width: 2rem;
            height: 2rem;
            top: -0.5rem;
            right: -1rem;
            line-height: 2rem;
        }
    }
}
.humberger{
    width: 70px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    cursor: pointer;
    position: relative;
    background-color: $color-blue2;
    @include pc{
        width: 7rem;
        height: 6rem;
    }
    &__line{
        width: 35px;
        height: 3px;
        background-color: $color-white;
        margin-bottom: 7px;
        display: block;
        @include pc{
            width: 3.5rem;
            height: 0.3rem;
            margin-bottom: 0.7rem;
        }
        &:first-child{
            transition: transform 0.5s ease;
        }
        &:nth-child(2){
            opacity: 1.0;
            transition: opacity 0.3s ease;
        }
        &:last-child{
            margin-bottom: 0;
            transition: transform 0.5s ease;
        }
        .menu-active &{
            &:first-child{
                transition: transform 0.5s ease;
                transform: translateY(1rem) rotate(45deg);
            }
            &:nth-child(2){
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            &:last-child{
                transition: transform 0.5s ease;
                transform: translateY(-1rem) rotate(-45deg);
                @include wide-pc{
                    transform: translateY(-6px) rotate(-45deg);
                }
            }
        }
    }
    &:before{
        content: "MENU";
        @include font-style(10px, $color-white, 400);
        font-family: $font;
        display: block;
        text-align: center;
        line-height: 1;
        letter-spacing: 0;
        margin-bottom: 5px;
    }
}

/***TOPページスタイル***/
@import 'top/_top.scss';

/***共通ページスタイル***/
.page-main-visual-sec{
    &__inner{
        height: 314px;
        @include pc{
            height: 31.4rem;
        }
        @include tab{
            height: 30rem;
        }
    }
    picture{
        height: 100%;
    }
}
.page__h1-title{
    @include font-style(45px, $color-blue, 600);
    line-height: 80px;
    letter-spacing: 0.27em;
    width: 760px;
    height: 80px;
    display: block;
    text-align: center;
    background-color: $color-white;
    margin: 0 auto;
    transform: translateY(-100%);
    position: relative;
    @include pc{
        font-size: 4.5rem;
        line-height: 8rem;
        width: 76rem;
        height: 8rem;
    }
    @include tab{
        width: 53.1rem;
        height: 6.5rem;
        line-height: 6.5rem;
        font-size: 3.6rem;
        letter-spacing: 0.15em;
    }
    &:after{
        content: "";
        display: block;
        width: 56px;
        // height: 28px;
        border-top: solid 28px $color-blue;
        border-left: solid 28px transparent;
        border-right: solid 28px transparent;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        @include pc{
            width: 5.6rem;
            // height: 28px;
            border-top: solid 2.8rem $color-blue;
            border-left: solid 2.8rem transparent;
            border-right: solid 2.8rem transparent;
            top: 100%;
        }
    }
}
/***会社案内ページスタイル***/
.company-top-sec{
    background-image: url("../images/svg/background05.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 120px;
    padding-bottom: 52px;
    @include pc{
        margin-top: 12rem;
        padding-bottom: 5.2rem;
    }
    @include tab{
        margin-top: 10.3rem;
        padding-bottom: 5.6rem;
    }
}
.profile-item{
    text-align: center;

    &__title-flame{
        width: 500px;
        height: 60px;
        margin: 0 auto;
        background-color: $color-blue2;
        border-radius: 0 0 10px 10px;
        margin-top: 60px;
        @include pc{
            width: 50rem;
            height: 6rem;
            border-radius: 0 0 1rem 1rem;
            margin-top: 6rem;
        }
    }
    &__title{
        color: $color-white;
        line-height: 60px;
        @include pc{
            line-height: 6rem;
        }
    }
    &__text{
        @include font-style(46px, $color-blue2, 600);
        font-family: $font-m;
        letter-spacing: 0.18em;
        line-height: 1;
        margin-top: 40px;
        @include pc{
            font-size: 4.6rem;
            margin-top: 4rem;
        }
        @include tab{
            letter-spacing: 0.12em;
        }
    }

}
.company-middle-sec{
    margin-top: 78px;
    @include pc{
        margin-top: 7.8rem;
    }
    &__h2-title{
        text-align: center;
    }
    &__h2-title--en{
        width: 307px;
        margin: 2px auto 0 auto;
        @include pc{
            width: 30.7rem;
        }
        @include tab{
            width: 36rem;
            margin: 1.6rem auto 0 auto;
        }
    }
}
.company-overview{
    margin-top: 51px;
    @include pc{
        margin-top: 5.1rem;
    }@include tab{
        width: 100vw;
        margin: 3.2rem calc(50% - 50vw) 0;
    }
    table{
        width: 100%;
        display: table
    }
    tr{
        display: table-row;
        border-bottom: solid 1px $color-black;
        vertical-align: middle;
        @include pc{
            padding: 2.4rem 0;
            border-bottom: none;
        }
    }
    th{
        width: 200px;
        @include font-style(22px, $color-white, 300);
        padding: 25px 0 25px 40px;
        background-color: $color-blue;
        display: table-cell;
        vertical-align: middle;
        @include pc{
            width: 20rem;
            font-size: 2.2rem;
            padding: 2.5rem 0 2.5rem 4rem;
        }
        @include tab{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2.5rem;
            padding: 1.6rem 0;
        }
    }
    td{
        @include font-style(22px, $color-black, 300);
        display: table-cell;
        vertical-align: middle;
        padding: 25px 0 25px 37px;
        @include tab{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2.5rem;
            padding: 1.6rem 0;
        }
    }
}

.company-bottom-sec{
    margin-top: 80px;
    margin-bottom: 25px;
    @include pc{
        margin-top: 8rem;
        margin-bottom: 2.5rem;
    }
    @include tab{
        margin-bottom: 0;
    }
    &__h2-title{
        background-image: url("../images/svg/background06.svg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        color: $color-white;
        padding: 38px 0; 
        position: relative;
        @include pc{
            padding: 3.8rem 0;
        }
        @include tab{
            padding: 3.7rem 0;
        }
        span{
            position: absolute;
            display: inline-block;
            width: 48px;
            height: 48px;
            background-image: url("../images/svg/arrow-bottom.svg");
            background-size: cover;
            background-repeat: no-repeat;
            top: 50%;
            transform: translate(15%, -50%);
            @include pc{
                width: 4.8rem;
                height: 4.8rem;
            }
        }
    }
}

.about-tokuteishou{
    background-color: $color-bg;
    padding: 25px 0 69px 0;
    @include pc{
        padding: 2.5rem 0 6.9rem 0;
    }
    @include tab{
        padding: 0 0 4.6rem 0;
    }
    table{
        @include tab{
            width: 100vw;
            margin: 0 calc(50% - 50vw);
        }

    }
    tr{
        display: block;
        border-bottom: solid 1px $color-black;
        margin-top: 26px;
        @include tab{
            margin-top: 0;
            border-bottom: none;
        }
    }
    th{
        width: 200px;
        @include font-style(22px, $color-black, 300);
        padding: 9px 0;
        display: table-cell;
        // vertical-align: middle;
        @include pc{
            width: 20rem;
            font-size: 2.2rem;
            padding: 0.9rem 0;
        }
        @include tab{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2.5rem;
            padding: 1.6rem 0;
        }
    }
    td{
        @include font-style(22px, $color-black, 300);
        display: table-cell;
        vertical-align: top;
        padding: 9px 0 9px 37px;
        @include tab{
            background-color: $color-white;
        }
        ul{
            // list-style: square;
        }
        li{
            padding-left: 18px;
            line-height: 1;
            position: relative;
            margin-bottom: 16px;
            @include tab{
                display: inline-block;
                margin-bottom: 0;
            }
            &:before{
                content: " ";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 16px;
                height: 16px;
                background-color: $color-blue2;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        p{
            line-height: 1;
            margin-bottom: 11px;
        }
        @include tab{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2.5rem;
            padding: 1.6rem 0;
        }
    }
}


/***衛生管理ページスタイル***/
@import 'page/_management.scss';

/***お問い合わせページスタイル***/
@import 'page/_contact.scss';

//-------------------------------
// cta
//-------------------------------
.cta-sec{
    width: 100%;
    padding-top: 55px;
    @include pc{
        padding-top: 5.5rem;
    }
    @include tab{
        padding-top: 8rem;
    }
    &__inner{
        width: 100%;
        height: 215px;
        background-color: #f6f8f6;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tab{
            height: 25.1rem;
        }
    }
    &__circle{
        width: 540px;
        height: 540px;
        border-radius: 100%;
        background-color: $color-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        @include pc{
            width: 54rem;
            height: 54rem;
        }
        &-inner{
            text-align: center;
        }
    }
    &__h2-title{
        color: $color-white;
        letter-spacing: 0.13em;
        font-weight: 400;
        line-height: 1em;
        @include pc{
            line-height: 1;
        }
        @include tab{
            line-height: 1;
        }
    }
    &__lead-text{
        @include font-style(15px, $color-white, 300);
        line-height: 2.1rem;
        letter-spacing: 0.06em;
        text-align: center;
        margin: 14px 0 11px 0;
        @include pc{
            font-size: 1.5rem;
            margin: 1.4rem 0 1.1rem 0;
        }
        @include tab{
            font-size: 2.5rem;
            line-height: 3.5rem;
            margin: 1.7rem 0 1.5rem 0;
            letter-spacing: 0;
        }
    }
    &__contact{
        display: flex;
        align-items: center;
        gap: 22px;
        justify-content: center;
        @include pc{
            gap: 2.2rem;
        }
    }
}
.tel-btn{
    &__num{
        @include font-style(22px, $color-white, 500);
        line-height: 1;
        letter-spacing: 0.04em;
        @include pc{
            font-size: 2.2rem;
        }
        span{
            font-size: 15px;
            @include pc{
                font-size: 1.5rem;
            }
        }
    }
    &__open-hours{
        @include font-style(11px, $color-white, 300);
        line-height: 1;
        letter-spacing: 0.05em;
        text-align: center;
        margin-top: 4px;
        @include pc{
            font-size: 1.1rem;
            margin-top: 0.4rem;
        }
    }
}
.mail-btn{
    @include font-style(15px, $color-white, 300);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    background-color: transparent;
    border: solid 2px $color-white;
    letter-spacing: 0.06em;
    transition: background-color 0.3s ease, color 0.3s ease;
    @include pc{
        height: 4.5rem;
        width: 23rem;
    }
    @include tab{
        width: 29rem;
        height: 6.5rem;
        font-size: 2.5rem;
    }
    &__link-icon{
        display: inline-block;
        width: 24px;
        height: 17px;
        position: relative;
        margin-right: 2px;
        background-image: url("../images/svg/mail.svg");
        background-size: cover;
        background-repeat: no-repeat;
        transition: background-image 0.3s ease;
        @include pc{
            width: 2.4rem;
            height: 1.7rem;
        }
        @include tab{
            width: 3.3rem;
            height: 2.4rem;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &:hover{
        color: $color-blue;
        background-color: $color-white;
        transition: background-color 0.3s ease, color 0.3s ease;
        .mail-btn__link-icon{
            background-image: url("../images/svg/mail-blue.svg");
            transition: background-image 0.3s ease;
        }
    }
}
//-------------------------------
// Footer
//-------------------------------
.footer{
    width: 100%;
    padding-top: 42px;
    @include pc{
        padding-top: 4.2rem;
    }
    @include tab{
        padding-top: 3rem;
    }
    &__appeal{
        @include font-style(17px, $color-blue2, 600);
        line-height: 1;
        letter-spacing: 0.15em;
        text-align: center;
        @include pc{
            font-size: 1.7rem;
        }
        @include tab{
            font-size: 2.5rem;
            letter-spacing: 0.03em;
        }
    }
    &__inner{
        width: 800px;
        margin: 14px auto 0 auto;
        @include pc{
            width: 80rem;
        }
        @include tab{
            width: 84vw;
        }
    }
    &__info{
        width: 100%;
    }
    &__logo{
        font-size: 32px;
        letter-spacing: 0;
    }
    &__address{
        @include font-style(14px, $color-black, 300);
        line-height: 1;
        letter-spacing: 0em;
        margin-top: 12px;
        text-align: center;
        margin-left: 244px;
        @include pc{
            font-size: 1.4rem;
            margin-top: 0.4rem;
        }
        @include tab{
            font-size: 2rem;
            margin-top: 1.6rem;
            margin-left: 0;
        }
    }
    &__bottom{
        width: 100%;
        height: 25px;
        background-color: $color-blue2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        @include pc{
            height: 2.5rem;
            margin-top: 1.6rem;
        }
        @include tab{
            margin-top: 2rem;
        }
    }
}
.copyright{
    @include font-style(10px, $color-white, 300);
    text-align: center;
    letter-spacing: 0.18em;
    font-family: $font-m; 
}
.footer-tel{
    &__copy{
        @include font-style(15px, $color-blue2, 600);
        line-height: 1;
        letter-spacing: 0.21em;
        @include pc{
            font-size: 1.5rem;
        }
    }
    &__icon{
        display: inline-block;
        width: 37px;
        height: 41px;
        position: relative;
        background-image: url("../images/svg/tel-icon.svg");
        background-size: cover;
        background-repeat: no-repeat;
        @include pc{
            width: 3.7rem;
            height: 4.1rem;
        }
    }
    &__num{
        @include font-style(52px, $color-blue, 600);
        line-height: 1;
        margin-top: 6px;
        @include pc{
            font-size: 5.2rem;
            margin-top: 0.6rem;
        }
    }
}